<header class="header">
	<nav class="nav">
		<ul>
			<li>Действие 1</li>
			<li>Действие 2</li>
			<li>Действие 3</li>
			<li>Действие 4</li>
		</ul>
	</nav>
</header>

{{outlet}}

<footer class="footer">
	<nav class="nav">
		<ul>
			<li>Действие 1</li>
			<li>Действие 2</li>
			<li>Действие 3</li>
			<li>Действие 4</li>
		</ul>
	</nav>
</footer>